target
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings
.DS_Store
*.bpmn/
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

